@font-face {
	font-family: "iconfont";
	font-weight: normal;
	font-style: normal;
	src: url('~@/assets/iconfont.ttf') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add1:before {
  content: "\e600";
}

.icon-More:before {
  content: "\e609";
}

.icon-pic2:before {
  content: "\e602";
}

.icon-log-out:before {
  content: "\e64b";
}

.icon-logo:before {
  content: "\e63c";
}

.icon-moreclass:before {
  content: "\e625";
}

.icon-pic:before {
  content: "\e621";
}

.icon-xueshimao:before {
  content: "\e60b";
}

.icon-add:before {
  content: "\e649";
}

.icon-shouye:before {
  content: "\e73d";
}

.icon-xihuan:before {
  content: "\e742";
}

.icon-wode:before {
  content: "\e743";
}

.icon-chazhao:before {
  content: "\e74b";
}

.icon-qiapian:before {
  content: "\e772";
}

.icon-icon-test:before {
  content: "\e635";
}

.icon-icon-test1:before {
  content: "\e636";
}

.icon-icon-test2:before {
  content: "\e63d";
}

.icon-icon-test3:before {
  content: "\e63e";
}

.icon-icon-test4:before {
  content: "\e63f";
}

.icon-icon-test5:before {
  content: "\e657";
}

.icon-icon-test6:before {
  content: "\e658";
}

.icon-icon-test7:before {
  content: "\e659";
}

.icon-icon-test8:before {
  content: "\e65a";
}

.icon-icon-test9:before {
  content: "\e65b";
}

.icon-icon-test10:before {
  content: "\e65c";
}

.icon-qianbi:before {
  content: "\e6f5";
}

